{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}
{% load staticfiles %}
{% load mathfilters %}


<div id="soulmate-result">
	<div class="row">
		<div class="col-md-3">
			<div id="candidate-img-profile">
			{% if winner.candidate.image %}
				{% thumbnail winner.candidate.image "x300" crop="center" as im %}
				<img src="{{im.url}}" alt="{{winner.candidate.name}}" class="img-responsive">
				{% endthumbnail %}
			{% else %}
				<img src="{% static 'img/candidate-default.jpg' %}" alt="{{winner.candidate.name}}" class="img-responsive">
			{% endif %}
			</div>
			{% if winner.candidate.image %}
			<a class="btn btn-default button_pic hidden-xs" data-toggle="modal" href="#myCandidate" style="margin-bottom:5px" onClick="ga('send', 'event', 'support-candidate-soulmate', 'click');"><i class="icon-camera"></i> {% trans "Da la cara por tu candidato" %}</a>
			
			<div class="modal fade" id="myCandidate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title"><i class="icon-camera"></i> {% trans "Da la cara por tu candidato" %}</h4>
						</div>
						<div class="modal-body container_pic">
							<div id="text-support" class="alert alert-warning alert-dismissable">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								{% trans "Recuerda activar tu cámara" %} <i class="icon-arrow-up"></i>
							</div>
							<div id="videocontainer">
								<video id="video"></video>
								{% comment "Hay que dividir esta wea por la mitad y agrandarlo" %}
								{% endcomment %}
								<img src="{{winner.candidate.image}}" id="soulmate-pic" alt="{{winner.candidate.name}}" title="{{winner.candidate.name}}">
							</div>
							<canvas id="canvas"></canvas>
							<div id="cover"></div>
						</div>
						<div id="controls" class="modal-footer">
							<span id="socialsharehalfface" class="text-left" style="display:none">
								<input type="text" id="shareurl" value="" style="width:39%" onclick="this.select();">
								 <a href="#" id="shareurltwitter" onClick="#"><i class="icon-twitter-sign"></i> {% trans "compartir" %}</a>
								 <a href="#" id="shareurlfacebook" onClick="#"><i class="icon-facebook-sign"></i> {% trans "publicar" %}</a>
							</span>
							<button type="button" class="btn btn-default" id="resetbutton" style="display:none"><i id="icon-repeat" class="icon-repeat"></i> {% trans "Tomar otra foto" %}</button>
							<button type="button" class="btn btn-primary" id="takepicbutton"><i class="icon-camera"></i> {% trans "Tomar foto" %}</button>
							<button type="button" class="btn btn-success" id="uploadbutton" style="display:none">{% trans "Compartir" %}</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /.modal -->
			{% endif %}
		</div>
		<div class="col-md-5">
			<h3><a href="{% url 'candidate_detail_view' election_slug=election.slug slug=winner.candidate.id %}">{{winner.candidate.name}} </a><i class="icon-heart"></i></h3>
			<h2>{{winner.percentage|mul:100|floatformat}}<span>% </span></h2>
				<div>{% trans "de afinidad" %}</div>
			<div class="row fondo-azuloscuro">
				<div class="col-md-5">
					{% trans "Declara tu amor publicamente:" %}
				</div>
				<div class="col-md-7">
					<ul class="list-inline">
						<li><a href="#" onclick="window.open('https://twitter.com/share?url=http://{% url_domain %}{% url 'candidate_detail_view' election_slug=election.slug slug=winner.candidate.id %}&text={{winner.candidate.name}}+<3&hashtags={{ 'hashtags'|website_twitter }}', 'twitter-share-dialog', 'width=626,height=436'); ga('send', 'event', 'share-soulmate-twitter', 'click');"><i class="icon-twitter-sign icon-4x"></i></a></li>
						<li><a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http://{% url_domain %}{% url 'candidate_detail_view' election_slug=election.slug slug=winner.candidate.id %}', 'facebook-share-dialog', 'width=626,height=436'); ga('send', 'event', 'share-soulmate-facebook', 'click');"><i class="icon-facebook-sign icon-4x"></i></a></li>
						<li><a href="#" onclick="window.open('https://plus.google.com/share?url=http://{% url_domain %}{% url 'candidate_detail_view' election_slug=election.slug slug=winner.candidate.id %}&hl=es-419', 'googleplus-share-dialog', 'width=626,height=436'); ga('send', 'event', 'share-soulmate-gplus', 'click');"><i class="icon-google-plus-sign icon-4x"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">

			<!-- Form -->
		<form action="https://docs.google.com/forms/d/1trOw1ZVJZT37hB9erG2sTsB4Qd6cCbHsQ-RgB663vxE/formResponse?embedded=true" method="POST" id="ss-form" target="_self" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0">
			<div class="ss-form-question errorbox-good" role="listitem">
				<div dir="auto" class="ss-item ss-item-required ss-radio">
					<div class="ss-form-entry">
						<h4 class="ss-q-item-label" for="entry_279593651"><div>¿Estás satisfecho/a con tu respuesta?*
						<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></h4>
						</div>
						<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>

						<ul class="ss-choices list-unstyled" role="radiogroup" aria-label="¿Estás satisfecha con tu respuesta?  ">
								<li class="ss-choice-item"><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.301682834" value="Si, me representa completamente" id="group_301682834_1" role="radio" class="ss-q-radio" aria-label="Si, me representa completamente" required="" aria-required="true"></span>
								<span class="ss-choice-label">Si, me representa completamente</span>
								</li> <li class="ss-choice-item"><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.301682834" value="Si, pero no estoy deacuerdo con el porcentage" id="group_301682834_2" role="radio" class="ss-q-radio" aria-label="Si, pero no estoy deacuerdo con el porcentage" required="" aria-required="true"></span>
								<span class="ss-choice-label">Si, pero no estoy deacuerdo con el porcentage</span>
								</li>
								<li class="ss-choice-item"><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.301682834" value="No, pero me he sorprendido con el resultado" id="group_301682834_3" role="radio" class="ss-q-radio" aria-label="No, pero me he sorprendido con el resultado" required="" aria-required="true"></span>
								<span class="ss-choice-label">No, pero me he sorprendido con el resultado</span>
								</li> 
								<li class="ss-choice-item"><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.301682834" value="No y no estoy de acuerdo con el resultado" id="group_301682834_4" role="radio" class="ss-q-radio" aria-label="No y no estoy de acuerdo con el resultado" required="" aria-required="true"></span>
								<span class="ss-choice-label">No y no estoy de acuerdo con el resultado</span>
								</li>
						</ul>
					<div class="error-message" id="279593651_errorMessage"></div>
					</div>
			</div>
			<div class="ss-form-question errorbox-good" role="listitem">
			<div dir="auto" class="ss-item  ss-radio"><div class="ss-form-entry">
			<label class="ss-q-item-label" for="entry_1883263373"><h4 class="ss-q-title">¿Te sientes más informado/a?
			</h4>
			<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>

			<ul class="ss-choices list-unstyled" role="radiogroup" aria-label="¿Te sientes más informada?  ">
					<li><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1801615423" value="Si, obtuve mucha información" id="group_1801615423_1" role="radio" class="ss-q-radio" aria-label="Si, obtuve mucha información"></span>
					<span class="ss-choice-label">Si, obtuve mucha información</span>
					</li> <li ><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1801615423" value="Si, pero ya estaba informado" id="group_1801615423_2" role="radio" class="ss-q-radio" aria-label="Si, pero ya estaba informado"></span>
					<span class="ss-choice-label">Si, pero ya estaba informado</span>
					</li>
				<li ><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1801615423" value="No obtuve nueva información" id="group_1801615423_3" role="radio" class="ss-q-radio" aria-label="No obtuve nueva información"></span>
				<span class="ss-choice-label">No obtuve nueva información</span>
				</li> <li ><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1801615423" value="Creo que este sitio no es un aporte" id="group_1801615423_4" role="radio" class="ss-q-radio" aria-label="Creo que este sitio no es un aporte"></span>
				<span class="ss-choice-label">Creo que este sitio no es un aporte</span>
				</li>
			</ul>
				<div class="error-message" id="1883263373_errorMessage"></div>
				</div></div></div>
				<input type="hidden" name="draftResponse" value="[,,&quot;8511470301182518309&quot;]
				">
				<input type="hidden" name="pageHistory" value="0">


				<input type="hidden" name="fbzx" value="8511470301182518309">

				<div class="ss-item ss-navigate">
				<input type="submit" name="submit" value="Enviar" id="ss-submit" class="btn btn-primary full-width"></div></ol>
			</div>	
		</form>
	</div>
	<!-- End form -->
				{% for cat in winner.category_score %}
			<div class="container-progress">
				<div class="progress">
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{cat.score|floatformat}}" aria-valuemin="0" aria-valuemax="100" style="width: {{cat.score|floatformat}}%">
					</div>
				</div>
				<p>{{cat.category}}<span>{{cat.score|floatformat}}%</span></p>
			</div>
			{% if forloop.counter|divisibleby:6 %}
		</div>
			<div class="col-md-2">
			{% endif %}
			{% endfor %}
		</div>
	</div>
</div>

<div id="other-soulmate">
		<h3>Compatibilidad con otros candidatos</h3>
	<div class="row">
		{% for other in others %}
		<div class="col-md-4">
			<div class="other-soulmate-box">
				<h4>{{other.percentage|mul:100|floatformat}}% <a href="{% url 'candidate_detail_view' election_slug=election.slug slug=other.candidate.id %}">{{other.candidate.name}}</a></h4>
				<ul class="list-unstyled">
					{% for other_cat in other.category_score %}
					<li>{{other_cat.percentage|floatformat}}% {{other_cat.category}}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% if forloop.counter|divisibleby:3 %}
	</div><div class="row no-first-row">
		{% endif %}
		{% endfor %}
	</div>



</div>
<script type="text/javascript">
var API_KEY = '{{ 'client_id'|website_imgur }}';
var candidate_name = '{{winner.candidate.name}}'
var twitter_url = '{% url_domain %}{% url 'candidate_detail_view' election_slug=election.slug slug=winner.candidate.id %}';
</script>
<script type="text/javascript" src="{% static 'js/video.js' %}"></script>