{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% load votainteligente_extras %}

{% if taken_position.position %}
        {{taken_position.position.label}}
    <p class="position_description">
     {{taken_position.description}}
    </p>
    {% if taken_position.sources.all %}
        {% for source in taken_position.sources.all %}
            
            {{source.note}} (<a href="{{source.url}}" target="_blank">Fuente</a>)
            
        {% endfor %}
    {% endif %}
    
{% else %}
    {% trans "Esta(e) candidata(o) aún no responde" %} 
{% endif %}
