a {
  color: #40B4F1;
}

body {
  background-color: #E8EBEC;
}

#footer {
    background-color: #323a45;
}

.bt-twitter {
    color: #323a45;
}

#myCandidate .modal-header {
    background-color: #323a45;
}

html, body {
    background-color: #eaedf2;
    color: #323a45;
}
.navbar-inverse {
    background-color: #545759;
}

.questionary .panel-heading {
    background-color: #323a45;
}

.panel-default>.panel-heading {
    background-color: #323a45;
}

#soulmate-result .fondo-azuloscuro {
    background: #323a45;
}

.chosen-container-single .chosen-single {
    background: #323a45;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    background: #323a45;
}

.alert-info {
  color: #40B4F1;
  background-color: #DAF1FD;
  border-color: #C1E5F9;
}

/*Menu*/

.nav-candidator .list-inline>li.active a, .nav-candidator .list-inline>li:hover a {
  background: #787F83;
}

.nav-candidator .list-inline>li.active a:after {
  border-top-color: #787F83;
}

/*Perfiles*/

.container-profile {
  background: #787F83;
}

.profile-candidate {
  background-color: #787F83;
}

.read-more a, .read-less a {
    background: #545759;
}

.panel-default>.panel-heading {
  background-color: #545759;
}

/*Frente a frente*/

.chosen-container-single .chosen-single {
  background: #545759;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  background: #545759;
}

#compare-candidates .candidate-percentage-txt {
  background: #40B4F1;
}

/*Media naranja*/

#soulmate-result {
  background: #787F83;
}

#soulmate-result .fondo-azuloscuro {
  background: #545759;
}

/*Footer*/

#footer {
  background-color: #545759;
}

#footer ul {
  padding: 0 30px;
}

#footer .logo {
  width: inherit;
  margin-right: 15px;
}
